<h1>Display your Pirate here</h1>
<%= @pirate.name %>
<%= @pirate.weight %>
<%= @pirate.height %>

<h2>Display your first ship here</h2>
<%= @ship.first.name %>
<%= @ship.first.type %>
<%= @ship.first.booty %>

<h2>Display your second ship here</h2>
<%= @ship.last.name %>
<%= @ship.last.type %>
<%= @ship.last.booty %>